<div class="wrap-loading">
    <div class="loading loading-1">
        <svg class="loader" viewBox="0 0 340 340">
            <circle cx="170" cy="170" r="160" stroke="#007bff" />
        </svg>
        <p class="loader-text"><em>Cargando...</em></p>
    </div>
</div>
